@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
// Fonts
$main-font: "Poppins", sans-serif;

// Colors

$white: #fff;
$gray-100: #f5f4f4;
$gray-200: #dddbdc;
$gray-300: #737373;
$gray-400: #4c4c4b;
$gray-500: #262626;
$black: #000;
$red: #d0021b;
$timberwolf: #e6ded8;
$overlay: #00000099;
