.contacts {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  padding-top: 60px;
  &_icons_text {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &_left {
    font-size: 22px;
  }
  &_tel {
    font-size: 22px;
  }
}
