html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.wrapper {
  font-family: $main-font;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 120%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.wrapper:has(.modal.active) {
  overflow-y: scroll;
}
