.main {
  padding: 40px 0;
  background: linear-gradient(
    180deg,
    rgba(0, 182, 255, 0.2) 0%,
    rgba(36, 133, 172, 0.8) 100%
  );

  &_btn {
    cursor: pointer;
    &_children {
      color: white;
      text-align: center;
      padding: 14px;
      border-radius: 6px;
      font-weight: 500;
      font-size: 22px;
      line-height: 22px;
      background: #31a7eb;
    }
  }
}
.main_img_left {
  display: flex;
  gap: 40px;
  width: 100%;
  height: 600px;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);

  &_img {
    width: 100%;
    object-fit: cover;
    display: none;
  }
}

.main_img_children {
  width: 200px;
  height: 100px;

  &_1 {
    position: relative;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 12px;
  }
}
.main_img_left_card_1 {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 12px;
}
.main_card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_rigth {
    display: flex;
    justify-content: end;

    &_img {
      width: 100%;
      vertical-align: bottom;
      display: none;
    }
  }
  &-1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    height: 100%;
  }
}
.main_text_children {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  line-height: 120%;
  color: steelblue;
  margin-bottom: 30px;
}
.main_text_btn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  background: white;
  border-radius: 12px;
  padding: 20px;
}
@media screen and (max-width: 850px) {
  .main_card-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  .main_img_left {
    height: 450px;
  }
  .main_text_children {
    display: flex;
    gap: 10px;
  }
  .main_btn {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 700px) {
  .main_text_children {
    font-size: 32px;
    font-weight: 500;
  }
}
@media screen and (max-width: 600px) {
  .main_text_children {
    font-size: 28px;
    font-weight: 500;
  }
  .main_btn_children {
    font-size: 18px;
  }
}
@media screen and (max-width: 590px) {
  .main_img_children {
    width: 100%;
  }
}
@media screen and (max-width: 555px) {
  .main_text_children {
    font-size: 28px;
    font-weight: 500;
  }
}
@media screen and (max-width: 480px) {
  .main_text_children {
    font-size: 24px;
    font-weight: 500;
  }
  .main_img_left {
    height: 400px;
  }
}
@media screen and (max-width: 380px) {
  .main_text_children {
    font-size: 18px;
    font-weight: 500;
  }
}

@media screen and (max-width: 350px) {
  .main_btn_children {
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
}
